*{
    padding: 0;
    margin: 0;
    font-family: Georgia;
}
a{
    color: inherit;
    text-decoration: none;
}
.medsos{
    padding: 5px 0;
    background-color: #a81385;
    text-align: center; /* Memastikan teks berada di tengah */
}
.medsos ul{
    list-style: none; /* Menghilangkan tanda bullet */
}
.medsos ul li{
    display: inline-block;
    color: #fff;
    margin-right: 15px;
}
.container{
    width: 80%;
    margin: 0 auto;
    text-align: center; /* Memastikan teks berada di tengah */
}
header{
    margin-top: 5px; 
    background-color: #f4d5f7;
}
header h1{
    padding: 15px 0;
    color: #3a107d;
}
header ul{
    margin-top: 5px; /* Menambahkan margin atas untuk estetika */
    list-style: none; /* Menghilangkan tanda bullet */
}
header ul li{
    display: inline-block;
}
header ul li a{
    padding: 25px 20px;
    display: inline-block;
}
header ul li a:hover{
    background-color: #a81385;
    color: #fff;
}
.active{
    background-color: #a81385;
    color: #fff;
}
.banner{
    height: 54vh;
    background-image: url(../gambar/banner.jpg);
    background-size: cover; 
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 120px;
    
}
.banner:after{
    content: " ";
    display:block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(249, 197, 248, 0.6);
}
.banner h2{
    color:#3a107d;
    z-index: 1;
    padding: 20px 25px;
    border: 3px solid #dc80d6;
}
section{
    padding: 50px 0;
}
